<aside class="sidebar">
    <div class="scrollbar-inner">
        <div class="user">
            <div class="user__info" data-toggle="dropdown">
                <img class="user__img" src="/demo/img/profile-pics/8.jpg" alt="">
                <div>
                    <div class="user__name"><%= current_user.name %></div>
                    <div class="user__email"><%= current_user.email %></div>
                </div>
            </div>

            <div class="dropdown-menu">
                <%= link_to 'View Profile', edit_user_registration_path, class: 'dropdown-item' %>
                <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
            </div>
        </div>

        <ul class="navigation">
            <li class="navigation__active"><a href="index.html"><i class="zmdi zmdi-home"></i> Home</a></li>
            <li>
                <%= link_to(employees_path) do %>
                    <i class="zmdi zmdi-male-female"></i> Coworkers
                <% end %>
            </li>
            <li>
                <%= link_to(groups_path) do %>
                    <i class="zmdi zmdi-accounts"></i> Groups
                <% end %>
            </li>
        </ul>
    </div>
</aside>