<!DOCTYPE html>
<html>
  <head>
    <title>RemoteHome</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-ma-theme="blue">
    <main class="main">
      <%= render(:partial => "layouts/navbar") %>
      <%= render(:partial => "layouts/sidebar") %>
      <%= render(:partial => "layouts/chat_aside") %>
      <section class="content">
        <%= render(:partial => "layouts/alerts") %>
        <%= yield %>
      </section>
    </main>
    <%= render(:partial => "layouts/browser_warnings") %>
  </body>
</html>
